@{
    ViewData["Title"] = "Home Page";

    /*myStores = new Stores();
    string foo = myStores.Stores; //getting
    myStores.Stores = new [] {
        new Store {Name = "Delhaize", Adress = "Liersesteenweg", Region = "Mechelen"},
        new Store {Name = "Colruyt", Adress = "Koningsstraat", Region = "Antwerpen"},
        new Store {Name = "Spar", Adress = "Straatéén", Region = "Brussel"}, 
    };*/
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
